\documentclass{charactersheet}

\begin{document}
\begin{charactersheet}

  \charactername{{ "{" }}{{ c.name }}{{ "}" }}

  \setrace{{ "{" }}{{ c.race }}{{ "}" }}
  \setalignment{{ "{" }}{{ c.alignment }}{{ "}" }}
  \setbg{{ "{" }}{{ c.background.name }}{{ "}" }}
  {% for class in c.classes %}
  \addclass{{ "{" }}{{ class.name }}{{ "}" }}{{ "{" }}{{ class.level }}{{ "}" }}
  {% endfor %}

  {% for attack in c.attacks %}
  \addattack{{ "{" }}{{ attack.name }}{{ "}" }}{{ "{" }}{{ attack.bonus }}{{ "}" }}{{ "{" }}{{ attack.damage }}{{ "}" }}{{ "{" }}{{ attack.damage_type }}{{ "}" }}{{ "{" }}{{ attack.range }}{{ "}" }}
  {% endfor %}

  {% for trait in c.traits %}
  \addtrait{{ "{" }}{{ trait }}{{ "}" }}
  {% endfor %}

  {% for resource in c.resources %}
  \addresource{{ "{" }}{{ resource.name }}{{ "}" }}{{ "{" }}{{ resource.quantity }}{{ "}" }}{{ "{" }}{{ resource.recharge }}{{ "}" }}
  {% endfor %}

  {% for ability in c.abilities %}
  {% if ability.name %}
  \addnamedability{{ "{" }}{{ ability.name }}{{ "}" }}{{ "{" }}{{ ability.description }}{{ "}" }}
  {% else %}
  \addability{{ "{" }}{{ ability.description }}{{ "}" }}
  {% endif %}
  {% endfor %}

  {% for spellclass in c.spell_classes %}
  {% for spell in spellclass.spells %}
  \addspell{{ "{" }}{{ spell.name }}{{ "}" }}{{ "{" }}{{ spellclass.name }} {{ "}" }}{{ "{" }}{{ spell.type }}{{ "}" }}{{ "{" }}{{ spell.level }}{{ "}" }}{{ "{" }}{{ spell.cast_time }}{{ "}" }}{{ "{" }}{{ spell.range }}{{ "}" }}{{ "{" }}{{ spell.requirements }}{{ "}" }}{{ "{" }}{{ spell.duration }}{{ "}" }}{{ "{" }}{{ spell.description }}{{ "}" }}
  {% endfor %}
  {% endfor %}

  {% for item in c.items %}
  \addequip{{ "{" }}{{ item.name }} {% if item.quantity > 1 %}(x {{ item.quantity }}){% endif %}{{ "}" }}
  {% endfor %}

  {% for language in c.languages %}
  \addlang{{ "{" }}{{ language.name }}{{ "}" }}
  {% endfor %}

  \setattr{ac}{{ "{" }}{{ c.armor_class }}{{ "}" }}
  \setattr{hp}{{ "{" }}{{ c.hit_points }}{{ "}" }}
  \setattr{init}{{ "{" }}{{ c.initiative }}{{ "}" }}
  \setattr{speed}{{ "{" }}{{ c.speed }}{{ "}" }}

  \setprofbonus{{ "{" }}{{ c.proficiency_bonus }}{{ "}" }}

  \setattr{{ "{" }}str{{ "}" }}{{ "{" }}{{ c.strength }}{{ "}" }}
  \setattr{{ "{" }}dex{{ "}" }}{{ "{" }}{{ c.dexterity }}{{ "}" }}
  \setattr{{ "{" }}con{{ "}" }}{{ "{" }}{{ c.constitution }}{{ "}" }}
  \setattr{{ "{" }}wis{{ "}" }}{{ "{" }}{{ c.wisdom }}{{ "}" }}
  \setattr{{ "{" }}int{{ "}" }}{{ "{" }}{{ c.intelligence }}{{ "}" }}
  \setattr{{ "{" }}cha{{ "}" }}{{ "{" }}{{ c.charisma }}{{ "}" }}

  {% for skill, bonus in c.proficiencies.items() %}
  \setprof{{ "{" }}{{ skill }}{{ "}" }}{{ "{" }}{{ bonus }}{{ "}" }}
  {% endfor %}

  {% for spell in c.get_spells() %}
  \addspell{{ "{" }}{{ spell.title }}{{ "}" }}{{ "{" }}{{ yes }}{{ "}" }}{{ "{" }}{{ spell.school }}{{ "}" }}{{ "{" }}{{ spell.level }}{{ "}" }}{{ "{" }}{{ spell.casttime }}{{ "}" }}{{ "{" }}{{ spell.range }}{{ "}" }}{{ "{" }}{{ spell.components }}{{ "}" }}{{ "{" }}{{ spell.duration }}{{ "}" }}{{ "{" }}{{ spell.description }}{{ "}" }}
  {% endfor %}

\end{charactersheet}
\end{document}
