<!DOCTYPE html>
<html>
  <head>
    <link href="css/site.css" rel="stylesheet" type="text/css" />
    <link href="css/loading.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/jquery.filedownload.js"></script>
    <script src="js/site.js"></script>
    <meta name="google-signin-client_id" content="555306898992-seqocegdil3sqm4mv48tvq89r10cv33g.apps.googleusercontent.com" />
    <title>zyxxid.xyz</title>
  </head>
  <body>
    <input type="hidden" class="character-id" />
    <div class="overlay">
      <div class="loading-circle">
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
        <div class="loading-part-div"></div>
      </div>

      <div class="pdf-message overlay-window">
        <div class="overlay-window-title">Generating PDF...</div>
        <div class="loading-bar">
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
          <div class="loading-part-div"></div>
        </div>

        <div class="pdf-message-waiting">Your character sheet is being generated by our expert team of dwarven typesetters. This may take a minute...</div>
        <div class="pdf-message-ready">Your character sheet is ready! You can use <a href="#" class="download-link">this link</a> if the download does not begin automatically.</div>
        <a href="#" class="close-window">Close</a>
      </div>

      <div class="about-site overlay-window">
        <div class="overlay-window-title">About</div>
        <p><b>zyxxid.xyz</b> is a D&D 5e character sheet helper.</p>
        <p>Contact: <a href="mailto:me@zyxxid.xyz">me@zyxxid.xyz</a></p>
        <p>Spells from <a href="http://ephe.github.io/grimoire/">Grimoire</a></p>
        <p>Icons from <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam</a></p>
        <a href="#" class="close-window">Close</a>
      </div>
    </div>

    <div class="body-container">
      <div class="top-nav">
        <div class="title">zyxxid.xyz</div>

        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a class="about" href="#">About</a>
        <a class="new" href="/">New</a>
        <a class="save" href="#">Save</a>
        <a class="load" href="#">Load</a>
        <a class="pdf" href="#">Generate PDF</a>
      </div>

      <div class="main-body">
        <div class="character-name">
          <input type="text" name="name" placeholder="Character Name" />
        </div>

        <div class="section-nav">
          <a href="#" name="basics" class="active">Basics</a>
          <a href="#" name="abilities">Ability Scores</a>
          <a href="#" name="skills">Skill Proficiencies</a>
          <a href="#" name="attacks">Attacks and Resources</a>
          <a href="#" name="inventory">Inventory</a>
          <a href="#" name="spellbook">Spellbook</a>
        </div>

        <div class="character-list">
          <div class="title">Your Saved Characters</div>
          <div class="loading-bar">
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
            <div class="loading-part-div"></div>
          </div>

          <ul></ul>
        </div>

        <div class="section active" name="basics">
          <div class="input-row">
            <label>Race:</label>
            <input type="text" name="race" />
          </div>

          <div class="input-row">
            <label>Background:</label>
            <input type="text" name="background" />
          </div>

          <div class="input-row">
            <label>Alignment:</label>
            <input type="text" name="alignment" />
          </div>

          <div class="input-list" name="languages">
            <div class="title-row">
              <div class="title">Languages</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Language:</label>
                <input type="text" name="name" />
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>

          <div class="input-list" name="classes">
            <div class="title-row">
              <div class="title">Classes and Levels</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Class Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Level:</label>
                <input type="number" name="level" />
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>

          <div class="input-list" name="spellclasses">
            <div class="title-row">
              <div class="title">Spellcasting Classes</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Class Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Spell Modifier:</label>
                <select name="spellattr">
                  <option value="">(none)</option>
                  <option value="str">Strength</option>
                  <option value="dex">Dexterity</option>
                  <option value="con">Constitution</option>
                  <option value="int">Intelligence</option>
                  <option value="wis">Wisdom</option>
                  <option value="cha">Charisma</option>
                </select>
              </div>
              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>

          <div class="input-list" name="abilities">
            <div class="title-row">
              <div class="title">Abilities</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Ability Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Description:</label>
                <textarea name="description"></textarea>
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>

          <div class="input-list" name="traits">
            <div class="title-row">
              <div class="title">Traits, Ideals, Bonds, and Flaws</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <textarea name=""></textarea>
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>
        </div>

        <div class="section" name="abilities">
          <div class="input-row">
            <label>Strength:</label>
            <input type="number" name="strength" />
          </div>

          <div class="input-row">
            <label>Dexterity:</label>
            <input type="number" name="dexterity" />
          </div>

          <div class="input-row">
            <label>Constitution:</label>
            <input type="number" name="constitution" />
          </div>

          <div class="input-row">
            <label>Intelligence:</label>
            <input type="number" name="intelligence" />
          </div>

          <div class="input-row">
            <label>Wisdom:</label>
            <input type="number" name="wisdom" />
          </div>

          <div class="input-row">
            <label>Charisma:</label>
            <input type="number" name="charisma" />
          </div>

          <hr />

          <div class="input-row">
            <label>Armor Class:</label>
            <input type="number" name="armor_class" />
          </div>

          <div class="input-row">
            <label>Hit Points:</label>
            <input type="number" name="hit_points" />
          </div>

          <div class="input-row">
            <label>Initiative:</label>
            <input type="number" name="initiative" />
          </div>

          <div class="input-row">
            <label>Speed:</label>
            <input type="number" name="speed" />
          </div>

       </div>

        <div class="section" name="skills">
          <div class="input-row">
            <label>Proficiency Bonus:</label>
            <input type="number" name="proficiency_bonus" />
          </div>

          <div class="input-row">
            <label>Bonus to Non-Proficient Skills:</label>
            <input type="number" name="non_proficient_bonus" />
          </div>

          <hr />

          <div class="input-row">
            <label>Acrobatics</label>
            <input type="checkbox" name="proficiencies.acrobatics" />
            <input type="checkbox" name="proficiencies.acrobatics" />
          </div>
          <div class="input-row">
            <label>Arcana</label>
            <input type="checkbox" name="proficiencies.arcana" />
            <input type="checkbox" name="proficiencies.arcana" />
          </div>
          <div class="input-row">
            <label>Athletics</label>
            <input type="checkbox" name="proficiencies.athletics" />
            <input type="checkbox" name="proficiencies.athletics" />
          </div>
          <div class="input-row">
            <label>Deception</label>
            <input type="checkbox" name="proficiencies.deception" />
            <input type="checkbox" name="proficiencies.deception" />
          </div>
          <div class="input-row">
            <label>Handle Animal</label>
            <input type="checkbox" name="proficiencies.handleanimal" />
            <input type="checkbox" name="proficiencies.handleanimal" />
          </div>
          <div class="input-row">
            <label>History</label>
            <input type="checkbox" name="proficiencies.history" />
            <input type="checkbox" name="proficiencies.history" />
          </div>
          <div class="input-row">
            <label>Insight</label>
            <input type="checkbox" name="proficiencies.insight" />
            <input type="checkbox" name="proficiencies.insight" />
          </div>
          <div class="input-row">
            <label>Intimidate</label>
            <input type="checkbox" name="proficiencies.intimidate" />
            <input type="checkbox" name="proficiencies.intimidate" />
          </div>
          <div class="input-row">
            <label>Investigation</label>
            <input type="checkbox" name="proficiencies.investigation" />
            <input type="checkbox" name="proficiencies.investigation" />
          </div>
          <div class="input-row">
            <label>Medicine</label>
            <input type="checkbox" name="proficiencies.medicine" />
            <input type="checkbox" name="proficiencies.medicine" />
          </div>
          <div class="input-row">
            <label>Nature</label>
            <input type="checkbox" name="proficiencies.nature" />
            <input type="checkbox" name="proficiencies.nature" />
          </div>
          <div class="input-row">
            <label>Perception</label>
            <input type="checkbox" name="proficiencies.perception" />
            <input type="checkbox" name="proficiencies.perception" />
          </div>
          <div class="input-row">
            <label>Performance</label>
            <input type="checkbox" name="proficiencies.performance" />
            <input type="checkbox" name="proficiencies.performance" />
          </div>
          <div class="input-row">
            <label>Persuasion</label>
            <input type="checkbox" name="proficiencies.persuasion" />
            <input type="checkbox" name="proficiencies.persuasion" />
          </div>
          <div class="input-row">
            <label>Religion</label>
            <input type="checkbox" name="proficiencies.religion" />
            <input type="checkbox" name="proficiencies.religion" />
          </div>
          <div class="input-row">
            <label>Sleight of Hand</label>
            <input type="checkbox" name="proficiencies.sleightofhand" />
            <input type="checkbox" name="proficiencies.sleightofhand" />
          </div>
          <div class="input-row">
            <label>Stealth</label>
            <input type="checkbox" name="proficiencies.stealth" />
            <input type="checkbox" name="proficiencies.stealth" />
          </div>
          <div class="input-row">
            <label>Survival</label>
            <input type="checkbox" name="proficiencies.survival" />
            <input type="checkbox" name="proficiencies.survival" />
          </div>
          <div class="input-row">
            <label>Strength Save</label>
            <input type="checkbox" name="proficiencies.strsave" />
            <input type="checkbox" name="proficiencies.strsave" />
          </div>
          <div class="input-row">
            <label>Dexterity Save</label>
            <input type="checkbox" name="proficiencies.dexsave" />
            <input type="checkbox" name="proficiencies.dexsave" />
          </div>
          <div class="input-row">
            <label>Constitution Save</label>
            <input type="checkbox" name="proficiencies.consave" />
            <input type="checkbox" name="proficiencies.consave" />
          </div>
          <div class="input-row">
            <label>Intelligence Save</label>
            <input type="checkbox" name="proficiencies.intsave" />
            <input type="checkbox" name="proficiencies.intsave" />
          </div>
          <div class="input-row">
            <label>Wisdom Save</label>
            <input type="checkbox" name="proficiencies.wissave" />
            <input type="checkbox" name="proficiencies.wissave" />
          </div>
          <div class="input-row">
            <label>Charisma Save</label>
            <input type="checkbox" name="proficiencies.chasave" />
            <input type="checkbox" name="proficiencies.chasave" />
          </div>

        </div>

        <div class="section" name="attacks">
          <div class="input-list" name="attacks">
            <div class="title-row">
              <div class="title">Attacks</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Attack Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Hit Bonus:</label>
                <input type="text" name="bonus" />
              </div>

              <div class="input-row">
                <label>Damage:</label>
                <input type="text" name="damage" />
              </div>

              <div class="input-row">
                <label>Damage Type:</label>
                <input type="text" name="damage_type" />
              </div>

              <div class="input-row">
                <label>Range:</label>
                <input type="text" name="range" />
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>

          <div class="input-list" name="resources">
            <div class="title-row">
              <div class="title">Resources</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Quantity:</label>
                <input type="number" name="quantity" />
              </div>

              <div class="input-row">
                <label>Recharges On:</label>
                <input type="text" name="recharge" />
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>
        </div>

        <div class="section" name="inventory">
          <div class="input-list" name="items">
            <div class="title-row">
              <div class="title">Items</div>
              <button class="add-item" />
            </div>
            <ul></ul>

            <div class="add-item-form">
              <div class="input-row">
                <label>Name:</label>
                <input type="text" name="name" />
              </div>

              <div class="input-row">
                <label>Quantity:</label>
                <input type="number" name="quantity" />
              </div>

              <div class="submit-row">
                <button class="save">Save</button>
                <button class="save-add">Save and Add Another</button>
              </div>
            </div>
          </div>
        </div>

        <div class="section spellbook" name="spellbook">
          <div class="spell-list">
            <div class="spell-tags-selector level-spells visible">
              <div class="spell-tags-header level-header">Spells from Classes</div>
              <div class="spell-tag checkbox-value selected" value="bard"><div class="checkbox-icon"></div><div class="name">Bard</div></div>
              <div class="spell-tag checkbox-value selected" value="cleric"><div class="checkbox-icon"></div><div class="name">Cleric</div></div>
              <div class="spell-tag checkbox-value selected" value="druid"><div class="checkbox-icon"></div><div class="name">Druid</div></div>
              <div class="spell-tag checkbox-value selected" value="paladin"><div class="checkbox-icon"></div><div class="name">Paladin</div></div>
              <div class="spell-tag checkbox-value selected" value="ranger"><div class="checkbox-icon"></div><div class="name">Ranger</div></div>
              <div class="spell-tag checkbox-value selected" value="sorcerer"><div class="checkbox-icon"></div><div class="name">Sorcerer</div></div>
              <div class="spell-tag checkbox-value selected" value="warlock"><div class="checkbox-icon"></div><div class="name">Warlock</div></div>
              <div class="spell-tag checkbox-value selected" value="wizard"><div class="checkbox-icon"></div><div class="name">Wizard</div></div>
            </div>

            {% for level in spells.keys()|sort %}
            <div class="level-spells">
            <div class="level-header">{{ "Cantrips" if level == "0" else "Level " + level }}</div>
            {% for spell in spells[level] %}
            <div class="spell-name checkbox-value {% for tag in spell["tags"] %} spell-tag-{{ tag }}{% endfor %}" spellid="{{ spell["id"] }}"><div class="checkbox-icon"></div><div class="name">{{ spell["name"] }}</div></div>
            {% endfor %}
            </div>
            {% endfor %}
          </div>

          <div class="spell-details">
            <div class="spell-detail-row spell-detail" name="title"></div>
            <div class="spell-detail-row spell-detail" name="school"></div>
            <div class="spell-detail-row">Casting Time: <div class="spell-detail" name="casttime"></div></div>
            <div class="spell-detail-row">Range: <div class="spell-detail" name="range"></div></div>
            <div class="spell-detail-row">Components: <div class="spell-detail" name="components"></div></div>
            <div class="spell-detail-row">Duration: <div class="spell-detail" name="duration"></div></div>
            <div class="spell-detail" name="description"></div>
          </div>

        </div>
      </div>

      <div class="popup-message"></div>
    </div>
  </body>
</html>
