\documentclass{charactersheet}

\begin{document}
\begin{charactersheet}
  {% for spell in c.get_spells() %}
  \addspell{{ "{" }}{{ spell.title }}{{ "}" }}{{ "{" }}{{ spell.ritual }}{{ "}" }}{{ "{" }}{{ spell.school }}{{ "}" }}{{ "{" }}{{ spell.level }}{{ "}" }}{{ "{" }}{{ spell.casttime }}{{ "}" }}{{ "{" }}{{ spell.range }}{{ "}" }}{{ "{" }}{{ spell.components }}{{ "}" }}{{ "{" }}{{ spell.duration }}{{ "}" }}{{ "{" }}{{ spell.format_description() }}{{ "}" }}
  {% endfor %}

\end{charactersheet}
\end{document}
