:root {
  --main-color: #c0c0df;
  --light-1: #cbcbe5;
  --light-2: #d6d6eb;
  --light-3: #e2e2f0;
  --light-4: #ededf6;
  --light-5: #f8f8fc;
  --dark-1: #b4b4da;
  --dark-2: #a9a9d4;
  --dark-3: #9e9ece;
  --dark-4: #9292c9;
  --dark-5: #8787c3;
  --complement: #fff5d5;
  --complement-dark-1: #ffe591;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@font-face {
    font-family: Aniron;
    src: url("/fonts/anirm___.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: "PT Sans", "Verdana", sans-serif;
    background-color: var(--light-4);
}

input {
    font-family: "PT Sans", "Verdana", sans-serif;
    border: 1px solid var(--light-2);
    outline: none;
}

input:focus {
    background-color: var(--light-5);
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

.overlay {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 2px 1em;
    background-color: var(--dark-2);
    flex-grow: 0;
}

.top-nav .title {
    font-family: Aniron;
    font-size: 125%;
    flex-grow: 1;
}

.top-nav a {
    flex-grow: 0;
    margin: 2px 0.25em;
    padding: 2px 1em;
    text-decoration: none;
    color: black;
    border: 1px solid var(--dark-5);
    background-color: var(--light-2);
}

.top-nav a:hover {
    background-color: var(--light-4);
}

.main-body {
    width: 60em;
    margin: 0 auto;
    background-color: white;
    border-left: 1px solid var(--dark-5);
    border-right: 1px solid var(--dark-5);
    bottom: 0;
    flex-grow: 1;
}

input[name=name] {
    border: 0;
    outline: none;
    margin: 2px 0.5em 10px 0.5em;
    padding: 2px;
    font-size: 200%;
    width: 29em;
}

input[name=name]:focus {
    background-color: white;
    border: 0;
}

.section-nav {
    padding: 0 0.25em 2px 0.25em;
    border-bottom: 1px solid var(--dark-5);
}

.section-nav a {
    margin: 2px 0.125em 0 0.125em;
    padding: 2px 1em;
    border: 1px solid var(--dark-5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--light-3);
}

.section-nav a:hover {
    background-color: var(--light-5);
}

.section-nav a.active, .section-nav a.active:hover {
    background-color: var(--complement);
}

.section {
    display: none;
}

.section.active {
    display: block;
    padding-top: 2em;
    flex-grow: 1;
}

.input-row {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    margin: 0.25em 0;
    flex-wrap: no-wrap;
}

.input-row label {
    width: 12em;
    text-align: right;
    margin: 0 2em;
}

.input-row input, .input-row .textarea-popup {
    flex-grow: 1;
    margin: 0 1em;
}

.input-row textarea-popup {
    cursor: pointer;
}

.input-list .title-row {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    align-items: baseline;
    padding: 0 5em;
}

.input-list .title {
    text-align: center;
    margin: 1em 50px 0 50px;
    border-bottom: 1px solid var(--dark-5);
    flex-grow: 1;
}

.input-list button.add-item {
    width: 16px;
    height: 16px;
    margin: 0 0.25em;
    border: 0;
    cursor: pointer;
    background: url("/images/add.png");
}

.input-list .add-item-form {
    display: none;
}

.input-list .add-item-form.active {
    display: block;
    position: absolute;
    width: 40em;
    margin: 0 10em;
    padding: 10px;
    border: 1px solid black;
    background: white;
    z-index: 2;
}

.input-list .add-item-form .submit-row {
    text-align: center;
}

.input-list ul {
    width: 40em;
    margin: 1px auto;
}

.input-list ul li {
    cursor: pointer;
}

