:root {
  --main-color: #c0c0df;
  --light-1: #cbcbe5;
  --light-2: #d6d6eb;
  --light-3: #e2e2f0;
  --light-4: #ededf6;
  --light-5: #f8f8fc;
  --dark-1: #b4b4da;
  --dark-2: #a9a9d4;
  --dark-3: #9e9ece;
  --dark-4: #9292c9;
  --dark-5: #8787c3;
  --complement: #fff5d5;
  --complement-dark-1: #ffe591;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@font-face {
    font-family: Aniron;
    src: url("/fonts/anirm___.ttf");
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: "PT Sans", "Verdana", sans-serif;
    background-color: var(--light-4);
}

input {
    font-family: "PT Sans", "Verdana", sans-serif;
    border: 1px solid var(--light-2);
    outline: none;
}

textarea {
    font-family: "PT Sans", "Verdana", sans-serif;
    border: 1px solid var(--light-2);
    outline: none;
    height: 5em;
}

select {
    font-family: "PT Sans", "Verdana", sans-serif;
}

input:focus, textarea:focus {
    background-color: var(--light-5);
    outline: none;
}

input.error, .character-name input.error {
    border: 1px solid #f00;
}

a {
    color: black;
    text-decoration: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
}

.overlay.adding-item, .overlay.loading-character, .overlay.active, body.loading .overlay {
    display: flex;
}

.overlay-window {
    display: none;
    position: relative;
}

.overlay-window.active {
    display: block;
    margin: 0 auto;
    width: 40em;
    z-index: 2;
    padding: 2em;
    background: white;
    border: 1px solid black;
}

.overlay-window .close-window, .pdf-choose-template .submit-pdf {
    margin: 2em auto 0 auto;
    display: block;
    width: 5em;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--dark-5);
    background-color: var(--light-2);
    padding: 3px 1em;
    color: black;
}

.overlay-window .close-window:hover .pdf-choose-template .submit-pdf:hover {
    background-color: var(--light-4);
}

.overlay-window a {
    color: var(--dark-3);
}

.overlay-window a:hover {
    color: var(--dark-5);
    text-decoration: underline;
}

.overlay-window .overlay-window-title {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 1em 1em;
}

.fixed-container {
    width: inherit;
    position: fixed;
}

.top-nav-spacer {
    visibility: hidden;
    font-size: 125%;
    padding-top: 25px;
}

.section-nav-spacer {
    visibility: hidden;
    font-size: 300%;
    padding-top: 13px;
}

.popup-message {
    display: none;
    position: fixed;
    bottom: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0 1px;
    padding: 3px 5em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    background: var(--light-5);
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    z-index: 3;
    font-size: 125%;
}

.popup-message a {
    color: var(--dark-3);
}

.popup-message a {
    color: var(--dark-1);
    text-decoration: underline;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 2px 1em;
    background-color: var(--dark-2);
    flex-grow: 0;
}

.top-nav .title {
    font-family: Aniron;
    font-size: 125%;
    flex-grow: 1;
}

.top-nav a {
    flex-grow: 0;
    margin: 2px 0.25em;
    padding: 2px 1em;
    text-decoration: none;
    color: black;
    border: 1px solid var(#8f8f8f);
    background-color: #cfcfcf;
    color: #8f8f8f;
}

body.logged-in .top-nav a, .top-nav a.pdf, .top-nav a.new, .top-nav a.about, .top-nav a.share {
    border: 1px solid var(--dark-5);
    background-color: var(--light-2);
    color: black;
}

.top-nav div.g-signin2 {
    flex-grow: 0;
    margin: 2px 0.25em;
    padding: 2px 1em;
}

.top-nav .abcRioButtonContents {
    font-family: "PT Sans", "Verdana", sans-serif;
}

.top-nav .abcRioButtonLightBlue {
    background-color: var(--light-2);
}

body.logged-in .top-nav a:hover {
    background-color: var(--light-4);
}

.main-body {
    width: 60em;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: white;
    border-left: 1px solid var(--dark-5);
    border-right: 1px solid var(--dark-5);
    bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.character-name {
    margin-top: 2px;
    background: white;
}

.character-name input {
    border: 1px solid transparent;
    outline: none;
    margin: 2px 0.5em 10px 0.5em;
    padding: 2px;
    font-size: 200%;
    width: 29em;
    font-weight: bold;
}

.character-name input:focus {
    background-color: white;
    border: 1px solid transparent;
}

.section-nav {
    padding: 0 0.25em 1px 0.25em;
    border-bottom: 1px solid var(--dark-5);
    background: white;
}

.section-nav a {
    margin: 2px 0.125em 0 0.125em;
    padding: 2px 1em;
    border: 1px solid var(--dark-5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--light-3);
}

.section-nav a:hover {
    background-color: var(--light-5);
}

.section-nav a.active, .section-nav a.active:hover {
    background-color: var(--complement);
}

.section {
    display: none;
    flex-grow: 1;
}

.section.active {
    display: block;
    padding-top: 2em;
    flex-grow: 1;
}

.character-list {
    display: none;
}

.character-list.active {
    display: block;
    position: absolute;
    width: 40em;
    margin: 0 10em;
    padding: 10px;
    border: 1px solid black;
    background: white;
    z-index: 2;
}

.character-list .title {
    font-size: 150%;
    font-weight: bold;
}

.character-list .loading-bar {
    display: none;
}

.character-list.loading .loading-bar {
    display: flex;
}

.character-list ul {
    list-style: none;
}

.character-list li .fa-trash {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0 1em 0 0;
    cursor: pointer;
}

.character-list li div.caption {
    cursor: pointer;
    display: inline;
}

.character-list li div.caption:hover {
    color: var(--dark-5);
    text-decoration: underline;
}

.input-row {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    margin: 0.25em 0;
    flex-wrap: no-wrap;
    align-items: center;
}

.input-row label {
    width: 15em;
    text-align: right;
    margin: 0 2em;
}

.input-row input, .input-row textarea, .input-row select {
    flex-grow: 0;
    margin: 0 1em;
}

.input-row input[type=text], .input-row textarea, .input-row select {
    width: 30em;
}

.input-row input[type=number] {
    width: 5em;
}

.input-row textarea-popup {
    cursor: pointer;
}

.input-list .title-row {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    align-items: baseline;
    padding: 0 5em;
}

.input-list .title {
    text-align: center;
    margin: 1em 50px 0 50px;
    border-bottom: 1px solid var(--dark-5);
    flex-grow: 1;
    font-weight: bold;
    font-size: 110%;
}

.input-list .input-row label {
    width: 12em;
}

.input-list .input-row input[type=text], .input-list .input-row textarea, .input-list .input-row select {
    width: auto;
    flex-grow: 1;
}

.input-list .fa {
    margin: 0 0.25em;
    color: var(--dark-2);
    flex-shrink: 0;
    flex-grow: 0;
}

.input-list .fa:hover {
    color: var(--dark-5);
}

.input-list .fa-trash {
    cursor: pointer;
}

.input-list .fa-arrows-v {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.input-list .ui-sortable-helper .fa-arrows-v {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.input-list .fa-plus-square-o {
    cursor: pointer;
}

.input-list .add-item-form {
    display: none;
}

.input-list .add-item-form.active {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    width: 40em;
    margin: auto 10em;
    padding: 10px;
    border: 1px solid black;
    background: white;
    z-index: 2;
}

.input-list .add-item-form .submit-row {
    text-align: center;
}

.input-list ul.input-list-ul {
    width: 40em;
    margin: 1px auto;
}

.input-list ul.input-list-ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    border-width: 1px 0;
    border-color: transparent;
    border-style: solid;
}

.input-list ul.input-list-ul li:hover {
    border-color: var(--light-1);
}

.input-list ul.input-list-ul li .caption {
    margin-left: 0.5em;
    cursor: pointer;
}

.input-list .search-box {
    width: 20em;
    padding: 2px 2em 2px 2px;
}

.input-list .search-results {
    min-height: 20em;
}

.input-list .search-results a {
}

.input-list .search-results a:hover {
    color: var(--dark-5);
    text-decoration: underline;
}

.section.spellbook.active {
    display: flex;
    padding-top: 0;
}

.section.spellbook .spell-list {
    border-right: 1px solid var(--dark-5);
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    flex-grow: 0;
    flex-shrink: 0;
}

.section.spellbook .spell-list .level-header {
    padding: 3px 2em;
    margin-top: 1em;
    font-weight: bold;
    background-color: #cfcfcf;
    border-top: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
    text-align: center;
    cursor: pointer;
}

.section.spellbook .spell-list .level-spells.visible .level-header {
    background-color: var(--light-2);
    border-top: 1px solid var(--dark-5);
    border-bottom: 1px solid var(--dark-5);
}

.section.spellbook .spell-list .checkbox-value {
    height: 0;
    visibility: hidden;
}

.section.spellbook .spell-list .level-spells.visible .checkbox-value {
    padding: 3px 0;
    border-bottom: 1px solid var(--dark-1);
    border-collapse: collapse;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: auto;
    overflow-y: hidden;
    visibility: visible;
}

.section.spellbook .spell-list .level-spells.visible .checkbox-value.untagged {
    height: 0;
    border: 0;
    padding: 0;
    visibility: hidden;
}

.section.spellbook .spell-list .checkbox-value.active {
    background-color: var(--complement) !important;
}

.section.spellbook .spell-list .checkbox-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 8px;
    border: 1px solid var(--light-1);
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: black;
}

.section.spellbook .spell-list .checkbox-icon:before {
    visibility: hidden;
}

.section.spellbook .spell-list .level-spells.visible .checkbox-value.selected .checkbox-icon {
    background-color: var(--light-4);
}

.section.spellbook .spell-list .level-spells.visible .checkbox-value.selected .checkbox-icon:before {
    visibility: visible;
}

.section.spellbook .spell-list .checkbox-value .name {
    margin-right: 32px;
}

.section.spellbook .spell-list .checkbox-value:hover {
    background-color: var(--light-5);
}

.section.spellbook .spell-details-container {
    position: fixed;
    width: 60em;
    background: transparent;
    pointer-events: none;
    display: flex;
    flex-direction: row;
}

.section.spellbook .spell-details-container .spell-details-left-spacer {
    visibility: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 34px;
}

.section.spellbook .spell-details {
    padding: 2em;
    visibility: hidden;
}

.section.spellbook .spell-details.loaded {
    visibility: visible;
}

.section.spellbook .spell-details .spell-detail[name=title] {
    font-size: 150%;
    margin-bottom: 0.75em;
}

.section.spellbook .spell-details.loading {
    background-image: url("/images/loading.gif");
    background-position: 2em center;
    background-repeat: no-repeat;
}

.section.spellbook .spell-details .name {
    font-size: 150%;
    font-weight: bold;
}

.section.spellbook .spell-details .spell-detail {
    display: inline;
}

.section.spellbook .spell-details .spell-detail-row {
    display: block;
}

.section.spellbook .spell-details .spell-detail[name=description] {
    display: block;
    margin-top: 1em;
}

.pdf-message .pdf-choose-template {
    display: block;
}

.pdf-message .pdf-waiting, .pdf-message .pdf-ready, .pdf-message .pdf-failed {
    display: none;
}

.pdf-message.generating .pdf-choose-template, .pdf-message.ready .pdf-choose-template, .pdf-message.failed .pdf-choose-template {
    display: none;
}

.pdf-message.generating .pdf-waiting {
    display: block;
}

.pdf-message.ready .pdf-ready {
    display: block;
}

.pdf-message.failed .pdf-failed {
    display: block;
}

.pdf-message ul.pdf-template li .template-name {
    cursor: pointer;
}

.pdf-message ul.pdf-template li .template-description {
    display: none;
}

.pdf-message ul.pdf-template li.selected .template-description {
    display: block;
}

.pdf-choose-template .pdf-template-label, .pdf-choose-template select.pdf-template, .pdf-choose-template .pdf-template-description {
    margin-bottom: 1em;
}

.pdf-message .pdf-message-ready, .pdf-message .pdf-message-waiting {
    margin: 1em;
}

.pdf-message.ready .loading-bar {
    visibility: hidden;
}

.pdf-message.ready .pdf-message-ready {
    display: block;
}

.pdf-message.ready .pdf-message-waiting {
    display: none;
}

.pdf-message-waiting {
    text-align: center;
    font-style: italic;
}

.pdf-message .close-window {
    visibility: hidden;
}

.pdf-message.ready .close-window {
    visibility: visible;
}

.share-link-window .share-link-ready, .share-link-window.ready .share-link-waiting {
    visibility: hidden;
}

.share-link-window.ready .share-link-ready {
    visibility: visible;
}
