ENABLED="true"
CELERY_BIN="/data/venv/bin/celery"
CELERY_APP="zyxxid.celery_app"
CELERYD_NODES="worker"
CELERYD_CHDIR="/data/venv"
CELERY_CONFIG_MODULE=""
CELERYD_USER="zyxxid"
CELERYD_GROUP="zyxxid"
CELERYD_LOG_FILE="/data/logs/celery-%N.log"
