---
celery_broker: amqp://zyxxid:{{ rabbitmq_password }}@localhost/
celery_result_backend: cache+memcached://localhost:11211/

riak:
  nodes:
{% for host in groups["db"] %}
  - host: {{ hostvars[host]["ansible_eth1"]["ipv4"]["address"] }}
    port: 8098
{% endfor %}
  protocol: pbc

memcached_servers:
  - localhost:11211

oauth2_client_id: {{ oauth2_client_id }}
oauth2_domain: zyxxid.xyz

statsd_hostname: localhost
