---
celery_broker: amqp://zyxxid:{{ rabbitmq_password }}@localhost/
celery_result_backend: cache+memcached://localhost:11211/

riak:
  host: localhost
  protocol: pbc
  port: 8098

memcached_servers:
  - localhost:11211

oauth2_client_id: {{ oauth2_client_id }}
oauth2_domain: zyxxid.xyz

statsd_hostname: localhost
